<div class="profile-stack">
  <!-- Back card 2 -->
  <div class="profile-card card-back-2">
    <%= image_tag "https://img2.pic.in.th/d835428a4f951c34e26b8008ec0d958a.jpg", alt: "Working" %>
  </div>
  <!-- Back card 1 -->
  <div class="profile-card card-back-1">
    <%= image_tag "https://img2.pic.in.th/5f28bf8468995c032c41bee6daf8e65d.jpg", alt: "Coding" %>
  </div>
  <!-- Main card -->
  <div class="profile-card card-main">
    <%= image_tag "https://img2.pic.in.th/pic/119910476_1085994998481636_5979345016126014253_n.jpg", alt: "Best Patcharapon - Software Developer" %>
    <div class="profile-overlay">
      <span class="profile-name">Patcharapon Yoriya</span>
    </div>
    <div class="internship-badge">
      <%= icon("sparkle", size: 16) %>
      Open to Work
    </div>
  </div>
  <!-- Navigation dots -->
  <div class="stack-nav">
    <span class="stack-dot active" data-index="0"></span>
    <span class="stack-dot" data-index="1"></span>
    <span class="stack-dot" data-index="2"></span>
  </div>
</div>
