<div class="skill-item-enhanced">
  <div class="skill-header">
    <i class="<%= icon_class %> skill-icon"></i>
    <span class="skill-name"><%= name %></span>
  </div>
  <div class="skill-bar">
    <div class="skill-progress" style="width: <%= percentage %>%"></div>
  </div>
</div>
